/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.submit {
    margin-top: 10px;
}

.navbar-logo {
    width: 50px;
    height: 50px;
}

.no-merge-result,
.single-merge-result {
    text-align: center;
}

.single-merge-result h1 {
    font-size: 5em;
}

.emoji-set-card {
  margin: 10px;
  width: 100%;
  text-align: center;
}